@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }


body {
  background-color: hsla(230,40%,50%,1);
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
top: 10px;
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  display: flex;
  top: 15px;
  align-items: center;
}

#brand a {
  color: black;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 15px;
  margin-left: 25px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: fixed;
  background-color: white;
  top: 50px;
  left: 0;
  height: auto;
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

h1 {
  display: inline-block;
  top: 150px;
  left: 30px;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 75px; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(48,20%,90%,1) 45%,
        hsla(48,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
  
  
 .img1{
 position: absolute;
 right: 60px;
 top: 130px;
 }
@media only screen and (max-width: 700px) {
  header nav {
    display: none;
  }
  

  #hamburger-icon {
    display: block;
  }
  
  ul a {
  color: hsla(230,40%,50%,1);
  text-decoration: none;
}

ul li {
  padding: 15px;
  margin-left: 25px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


h1 {
  display: inline-block;
  top: 150px;
  left: 30px;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 45px; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  
   .img1{
 position: absolute;
 right: 60px;
 top: 350px;
 }
}

